<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Links</title>
	<link rel="stylesheet" href="/styles/styles.css">

</head>

<body>

	<div class="site-container">
		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar_.html' %}

			<!-- Main Content -->
			<div class="main-content">
				<br>
				<div class="subheading">
					Articles (Coming soon)
				</div>
				<div class="sitemap-footer">
					<small style="color: grey;">
						Written in
						<a target="_blank" href="https://www.libreoffice.org/discover/writer/">
							<img src="/images/LibreOffice_7.5_Writer_Icon.png" height="11">
							libreoffice writer
						</a>
					</small>
				</div>
				{% include 'articles/article_links.html' %}
			</div>
		</div>
		{%include 'footer_.html'%}
	</div>

	{% include 'modal_.html' %}
</body>

</html>