<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Downloads</title>
	<link rel="stylesheet" href="styles/styles.css">

</head>

<body>

	<div class="site-container">
		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar.html' %}

			<!-- Main Content -->
			<div class="main-content">

				<center>
					<p>
						<a href="#commandline-tools">Commandline tools</a>
						|
						<a href="#ignio-tools">Ignio tools</a>
						|
						<a href="#midi-projects">MIDI projects</a>
						|
						<a href="#blender-projects">Blender projects</a>
					</p>
				</center>

				<!--Commandline tools-->
				<div id="commandline-tools" class="subheading">
					Commandline tools
				</div>
				<br>

				<div class="container">

					<div class="content">
						<h3>pss</h3>
						<p>
							Transpiler for css with inheritance,variables and randomized value lists.
						</p>
						<div class="">
							<a href="#" target="_blank" class="disabled-anchor">
								<img src="images/gentoo.png" height="16">
								Download
							</a>
							&nbsp;
							<a href="https://github.com/bruhmese-python/pss">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/640px-Octicons-mark-github.svg.png"
									height="16">
								Source
							</a>
						</div>
					</div>
				</div>


				<!--Ignio tools-->
				<br>
				<div id="ignio-tools" class="subheading">
					Ignio studio Tools

					<small style="padding: 0 2px 0 2px;background-color:yellow;color:black">
						<i>(Cheetah - deprecated)</i>
						<div class="tooltip">
							<img src="images/qmark.webp" style="width:1em;" alt="" srcset="">
							<span class="tooltip-text">
								Studio update breaks compatibility<br>
								<small>(Compatible with cheetah)</small>
							</span>
						</div>
					</small>
				</div>
				<br>
				<div class="container">
					<img src="images/injector.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Studio Function Injector</h3>
						<p>
							Allows developers to inject multiple function droplets created
							using <a href="#droplet-studio">Droplet IDE</a> directly into Studio.
						</p>
						<div class="">
							<a href="#" class="disabled-anchor">
								<img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_%282011%29.png"
									height="16">
								Download Extension
							</a>
							<a href="#" class="disabled-anchor">
								<img src="https://www.python.org/static/favicon.ico" height="16">
								Download Local Agent
							</a>
						</div>
					</div>
				</div>

				<br><br>

				<div class="container">
					<img src="images/iwork.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Studio iWorkflow Compiler</h3>
						<p>
							Frontend for <strong>groovyc</strong>. Lets programmers compile iworkflow/groovy code
							directly
							in studio. Simple navigate to any iworkflow/groovy function and click <i>"compile"</i>.
						</p>
						<div class="">
							<a href="https://drive.usercontent.google.com/u/0/uc?id=17JJZIFcBHlM7rJnnYJEq5vHKdh5n1hMm&export=download">
								<img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_%282011%29.png"
									height="16">
								Download Extension
							</a>
							<a href="https://drive.usercontent.google.com/u/0/uc?id=1B03JeJda9cPoCNJQ4HPWmqzA3E9suQ2A&export=download">
								<img src="https://www.python.org/static/favicon.ico" height="16">
								Download Local Agent
							</a>
						</div>
					</div>
				</div>

				<br><br>

				<div class="container">
					<img src="images/commit.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Studio Version Control</h3>
						<p>
							Implements linear version control using function droplets created using <a
								href="#droplet-studio">Droplet IDE</a>.
						</p>
						<div class="">
							<a href="#" class="disabled-anchor">
								<img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_%282011%29.png"
									height="16">
								Download Extension
							</a>
							<a href="#" class="disabled-anchor">
								<img src="https://www.python.org/static/favicon.ico" height="16">
								Download Local Agent
							</a>
						</div>
					</div>
				</div>

				<br><br>

				<div id="droplet-studio" class="container">
					<img src="images/droplet.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Droplet Studio IDE</h3>
						<p>
							Standalone editor to import powershell scripts and split them into atomic functions.
							Supports
							batch editing and import/export of droplets.
						</p>
						<div class="">
							<a href="#" class="disabled-anchor">
								<img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_%282011%29.png"
									height="16">
								Download Launcher Ext.
							</a>
							<a href="#" class="disabled-anchor">
								<img src="https://www.python.org/static/favicon.ico" height="16">
								Download Local Server
							</a>
						</div>
					</div>
				</div>

				<br>

				<!--Midi files-->
				<div id="midi-projects" class="subheading">
					MIDI projects
				</div>
				<br>

				<div class="container">
					<div class="item-name">
						Enthathishayame.med
					</div>
					<div>
						<a href="#" class="disabled-anchor">
							<img src="https://upload.wikimedia.org/wikipedia/commons/5/55/P_music.png" height="16">
							Download midi file
						</a>
						&nbsp;
						<a href="#" class="disabled-anchor">
							<img src="https://upload.wikimedia.org/wikipedia/commons/8/88/P_music.gif" height="16">
							Download MusE project
						</a>


					</div>

					<br>
				</div>

				<br>

				<!--Blend files-->
				<div id="blender-projects" class="subheading">
					Blender projects
				</div>
				<br>

				<div id="droplet-studio" class="container">
					<img src="images/nqueens.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>
							Nqueens Visualization
						</h3>
						<p>
							My first real experiment with scripting in blender. 
							Visualize the nqueens problem for 4,5,6 and 8 queens.</p>
						<div class="">
							<a href="https://github.com/bruhmese-python/nqueens/archive/refs/heads/master.zip">
								<img src="images/blender.png" height="16">
								Download project
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		{%include 'footer.html'%}
	</div>


</body>

</html>