<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
	<div class="site-container">

		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar_.html' %}

			<!-- Main Content -->
			<div class="main-content-no-padding">

				<!-- rick and morty -->
				<div class="rick-and-morty">
					<a target="_blank" href="https://www.adultswim.com/videos/rick-and-morty">
						<img src="/images/rick_and_morty.webp" width="75" alt="" srcset="">
					</a>
					<br>
					<a target="_blank"
						href="https://sayitwithapin.com/products/rick-morty-ufo-magnet?srsltid=AfmBOopnGDUDRBclq7Kazw6nf95qxk0fiK_QWIupVnym7Bk13xadVK-z"
						class="link"><img src="/images/new_window_glyph.png" alt=""></a>
				</div>

				<div class="banner">
					<h1>
						Hi there 👋️

						<!-- <a href="https://gifcities.org/">
							<img style="height: 1em;" src="/images/under_construction.gif" alt="">
						</a> -->

					</h1>
					<p>Thanks for visiting my corner of the internet.<br>
						Before you ask, the site looks the way it is to rekindle nostalgia for a more civilized
						period
						of
						the
						internet.<br>
					</p>
				</div>


				<div class="padded-content-index">
					<div class="non-banner">
						<div class="desc-updates">
							<!-- My Story -->
							<div class="description">
								<h2>My Story
									<a href="https://gifcities.org/">
										<img style="height: 1em;" src="/images/book.gif" alt="">
									</a>
								</h2>
								<p>
									I'm a 2000s kid, so sure — this site is a bit of a throwback to the late-2000s
									internet
									era.
								</p>
								<p>
									I build tools around tools — parsers, command-line utilities, batch editors, Chrome
									extensions, and whatever else makes workflows smoother. My day job? I’m a solutions
									engineer
									working on IT operations powered by AI, using
									<a href="https://digitate.com/ignio-platform/">
										Ignio
									</a>.
								</p>
								<p>
									When I’m not coding, you’ll probably find me humming a tune, messing around with
									MIDI on
									a
									keyboard, between pages of a book — or hanging around on
									<a href="https://www.discord.com/" target="_blank">discord</a>
									servers
								</p>
							</div>

							<!-- Latest Updates -->
							<div class="updates">
								<div class="peeking-tux">
									<a target="_blank" href="https://mxlinux.org/">
										<img src="/images/tux.png" alt="">
									</a>
								</div>
								<div class="updates_box">

									<h2>Latest Updates</h2>
									<ul>
										<li>June 2025 - Launched the site 🎉</li>
										<li>April 2025 - Digitate Anniversary Event</li>
										<li>March 2025 - Studio extensions released</li>
									</ul>
									<p>
										<a href="blogs.html" class="">
											All Blogs
										</a>
									</p>
								</div>
							</div>
						</div>


						<!-- chibi -->
						<div class="chibi">
							<a target="_blank" href="https://batman-on-film.com/batman-films/">
								<img src="/images/batman_chibi.png" alt="" width="75" srcset="" class="chibi_img">
							</a>
							<br>
							<a target="_blank" href="https://www.pinterest.com/pin/496451558896479894/"
								class="link"><img src="/images/new_window_glyph.png" alt=""></a>
						</div>

						<div class="desc-updates">
							<!-- github pins -->
							<div class="description pin_box">
								<h5>
									<a target="_blank" href="https://github.com/bruhmese-python">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/640px-Octicons-mark-github.svg.png"
											height="12">
									</a>

									Github pins
								</h5>
								<div class="pins">
									{%include 'github-pins_.html'%}
								</div>
							</div>

							<div class="updates pin_box">
								<h5>
									Interesting links
									<span style="text-align: right">📌️</span>
								</h5>
								<div class="pins">
									{%include 'fav_links_.html'%}
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>


		{%include 'footer_.html'%}
		{%include 'modal_.html'%}

	</div>

</body>

</html>