<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
	<div class="site-container">

		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar_.html' %}

			<!-- Main Content -->
			<div class="main-content-no-padding">

				<!-- rick and morty -->
				<div class="rick-and-morty">
					<a target="_blank" href="https://www.adultswim.com/videos/rick-and-morty">
						<img src="/images/rick_and_morty.webp" width="75" alt="" srcset="">
					</a>
					<br>
					<a target="_blank"
						href="https://sayitwithapin.com/products/rick-morty-ufo-magnet?srsltid=AfmBOopnGDUDRBclq7Kazw6nf95qxk0fiK_QWIupVnym7Bk13xadVK-z"
						class="link"><img src="/images/new_window_glyph.png" alt=""></a>
				</div>

				<div class="banner glitch-effect">
					<div class="peek">
					</div>
					<div class="banner-text">
						<h1>
							Hi there

							<!-- <a href="https://gifcities.org/">
							<img style="height: 1em;" src="/images/under_construction.gif" alt="">
						</a> -->

						</h1>
						<p>Thanks for visiting my corner of the internet.<br>
							Before you ask, the site looks the way it is to rekindle nostalgia for a more civilized
							period
							of
							the
							internet.<br>
						</p>
					</div>
				</div>


				<div class="padded-content-index">
					<div class="non-banner">
						<div class="desc-updates index-line-height">
							<!-- My Story -->
							<div class="description">
								<h2>README
									<a href="https://gifcities.org/">
										<img style="height: 1em;" src="/images/book.gif" alt="">
									</a>
								</h2>
								<p>
									2000s kid building tools for tools — parsers, CLI utilities, batch editors, Chrome extensions, and workflow hacks. By day, I’m a solutions engineer working on AI-powered IT operations with <a href="https://digitate.com/products/ignio-aiops/" target="_blank">Ignio</a>. When I’m not coding, I’m tinkering with MIDI, lost in a book, or hanging out on 									<a href="https://www.discord.com/" target="_blank">discord</a>
								</p>
							</div>

							<!-- Latest Updates -->
							<div class="updates">
								<div class="peeking-tux">
									<a target="_blank" href="https://mxlinux.org/">
										<img src="/images/tux.png" alt="">
									</a>
								</div>
								<div class="updates_box">

									<h2>Latest Updates</h2>
									<ul>
										<li>Sep 2025 - Blender VSE <a href="/articles/rendered/ducking_extension_blender_vse/content.html">addon</a></li>
										<li>Jul-Aug 2025 - New <a href="/articles.html">articles</a></li>
										<li>Jun 2025 - Launched the site 🎉</li>
										<li>Apr 2025 - Digitate Anniversary Event</li>
										<li>Mar 2025 - Studio extensions released</li>
									</ul>
									<p>
										<a href="blogs.html" class="">
											All Blogs
										</a>
									</p>
								</div>
							</div>
						</div>


						<!-- chibi -->
						<div class="chibi">
							<a target="_blank" href="https://batman-on-film.com/batman-films/">
								<img src="/images/batman_chibi.png" alt="" width="75" srcset="" class="chibi_img">
							</a>
							<br>
							<a target="_blank" href="https://www.pinterest.com/pin/496451558896479894/"
								class="link"><img src="/images/new_window_glyph.png" alt=""></a>
						</div>

						<div class="desc-updates glitch-effect">
							<!-- github pins -->
							<div class="description pin_box">
								<h5>
									<a target="_blank" href="https://github.com/bruhmese-python">
										<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/640px-Octicons-mark-github.svg.png"
											height="12">
									</a>

									Github pins
								</h5>
								<div class="pins">
									{%include 'github-pins_.html'%}
								</div>
							</div>

							<div class="updates pin_box">
								<h5>
									Interesting links
									<span style="text-align: right">📌️</span>
								</h5>
								<div class="pins">
									{%include 'fav_links_.html'%}
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>


		{%include 'footer_.html'%}
		{%include 'modal_.html'%}

	</div>

</body>

</html>