<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Links</title>
	<link rel="stylesheet" href="styles/styles.css">

</head>

<body>

	<div class="site-container">
		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar_.html' %}

			<!-- Main Content -->
			<div class="main-content">

				<center>
					<p>
						<a href="#web-apps">Web Apps</a>
						|
						<a href="">
							...
						</a>
					</p>
				</center>

				<div id="web-apps" class="subheading">
					Web Apps
				</div>
				<br>

				<div class="container">

					<img src="images/screenshots/vi_graph.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Vi Graph</h3>
						<p>
							Graph editor with vim keybindings.
							Helps me doodle and create graphs, all while pretending I’m using Vim for everything.</p>
						<!-- Added line -->
						<a target="_blank" href="https://www.joeleldo.com/apps/vi-graph/">
							Goto page..
						</a>
					</div>
				</div>

				<br>
				<div class="container">
					<img src="images/screenshots/labelimg.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>p5.labelimg</h3>
						<p>
							Image annotator for ML projects and batch image editing.
							Perfect for slapping labels on images for machine learning (and doing it in bulk).</p>
						<!-- Added line -->
						<a target="_blank" href="https://bruhmese-python.github.io/labelimg/">
							Goto page..
						</a>
					</div>
				</div>

				<br>
				<div class="container">
					<img src="images/screenshots/dataset_preparation.png" alt="Screenshot" class="screenshot"
						width="300">
					<div class="content">
						<h3>Bionic reading dataset prepper</h3>
						<p>
							Tool for dataset labeling for <a target="_blank"
								href="https://github.com/bruhmese-python/Bionic-reading">bionic
								reading ML algorithms</a>.
							Helps me set up datasets for Bionic reading, because labeling stuff can be a pain.</p>
						<!-- Added line -->
						<a target="_blank"
							href="http://bruhmese-python.github.io/Bionic-reading/dataset-creation-tool/index.html">
							Goto page..
						</a>
					</div>
				</div>

				<br>
				<div class="container">
					<img src="images/screenshots/kettle_master_mockup.png" alt="Screenshot" class="screenshot"
						width="300">
					<div class="content">
						<h3>KettleMaster</h3>
						<p>
							Assistant for recipes.
							Your kitchen buddy for finding and following recipes without any hassle.</p>
						<!-- Added line -->
						<a target="_blank" href="https://sangi30.pythonanywhere.com/">
							Goto page..
						</a>
					</div>
				</div>

				<br>
				<div class="container">
					<img src="images/screenshots/typing_maestro.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Typing Maestro</h3>
						<p>
							Typing speed test : lorem ipsum.
							For when you want to test your typing speed and show off your mad skills.</p>
						<!-- Added line -->
						<a target="_blank" href="https://bruhmese-python.github.io/typing-maestro/">
							Goto page..
						</a>
					</div>
				</div>


				<br>
				<div class="container">
					<img src="images/screenshots/hangman.png" alt="Screenshot" class="screenshot" width="300">
					<div class="content">
						<h3>Hangman 🙂️</h3>
						<p>
							Dying is to live for ...
						</p>
						<!-- Added line -->
						<a target="_blank" href="https://bruhmese-python.github.io/hangman/">
							Goto page..
						</a>
					</div>
				</div>

			</div>
		</div>
		{%include 'footer_.html'%}
	</div>

	{% include 'modal_.html' %}
</body>

</html>