<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Miscellaneous</title>
	<link rel="stylesheet" href="styles/styles.css">

</head>

<body>

	<div class="site-container">
		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar_.html' %}

			<!-- Main Content -->
			<div class="main-content">

				<div class="sitemap-wrapper">
					<div class="sitemap-content">
						<!--Sitemap-->
						<br>
						<div class="subheading">
							Miscellaneous
						</div>

						<ul>
							<li><a href="downloads.html">Downloads</a></li>
							<li><a href="links.html">Links</a></li>
						</ul>

						<br>
					</div>
				</div>
			</div>
		</div>
		{%include 'footer_.html'%}
	</div>

</body>

</html>