<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Links</title>
	<link rel="stylesheet" href="/styles/styles.css">

</head>

<body>

	<div class="site-container">
		<div class="page-wrapper">

			<!-- Sidebar -->
			{% include 'sidebar_.html' %}

			<!-- Main Content -->
			<div class="main-content">
				<!-- 				<p>
					<a href="/articles.html">◄&nbsp;Articles</a>
				</p>
 -->
				<div class="article-header">
					<div class="back-btn-container">
						<a href="/articles.html">◄&nbsp;Articles</a>
					</div>
					<div class="doc-download">
						<a href="{{document}}" id="download-doc-link">
							<img src="/images/doc-download.png" style="width: 1em;" alt="">
							Download doc</a>
					</div>
				</div>

				<br>
				<div class="article-container">
					{% include 'content.html' %}
				</div>
			</div>
		</div>
		{%include 'footer_.html'%}
	</div>

	<script src="/scripts/article_scripts.js">
	</script>

	{% include 'modal_.html' %}

</body>

</html>