/* Reset and base styling */
body {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin: 0;
    /* background-color: #ffffff; */
    /* background-color: #eaeaea; */
    font-family: Arial, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 14px;
    color: #000000;

    /* patterns */
    /* background-color: #e5e5f7;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#3e6783 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #3e6783 0.8px, #e5e5f7 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;

 */
    background: #111;
}

html {
    font-family: Noto Sans Display;
    color: #eee;
    font-size: 1em;
    line-height: 1;
    letter-spacing: 0.062em;
    /* letter-spacing: 0.125em; */
    text-shadow: 1px 0 0 #ea36af, -1px 0 0 #75fa69;
    /* mation-duration: 0.01s; */
    /* animation-name: textflicker; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

.paragraph-Table_20_Contents {
    margin: none;
}

table tr:first-child {
    font-weight: bold;
}

.article-container {
    font-family: Noto Sans Display;
    font-size: 1em;
    line-height: normal;
    letter-spacing: normal;
    text-shadow: none;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0px 1em;
    grid-auto-flow: row;
    grid-template-areas:
        "level1 level1 level1"
        "level2 level2 glossary"
        "level3 level3 level3";
}

.glossary {
    grid-area: glossary;
}

.level1 {
    grid-area: level1;
}

.level2 {
    grid-area: level2;
}

.level3 {
    grid-area: level3;
}

.toc-nested-list-item {
    margin-left: 20px;
    font-size: 0.95em;
    color: #555;
    list-style-type: square; /* Optional: remove bullet */
}


.article_list {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    grid-template-areas:
        "a span";
}

.article_list>article {
    grid-area: a;
}

.article_list>date {
    grid-area: span;
}


@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
        /* box-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69; */
    }

    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
        /* box-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69; */
    }
}

img {
    /* animation: flickerOverlay 1s infinite alternate; */
}

@keyframes flickerOverlay {
    0% {
        opacity: 0.99;
        filter: brightness(1) saturate(1);
    }

    100% {
        opacity: 1;
        filter: brightness(1.05) saturate(1.1);
    }
}


.shadow-hr {
    padding: 0.5em;
    background: url('/images/shadow-hr.png');
    background-size: cover;
    background-position: center center;
    margin: 0;
}

.banner {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "peek banner-text";

    padding: 2em;
    background: url('/images/banner_new.png');
    background-size: contain;
    background-position: center center;
    background-repeat: repeat;
}

.peek {
    background: url('/images/peeking_cat.png');
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: peek;
}

.banner-text {
    grid-area: banner-text;
}

.banner>h1 {
    margin-top: 0px;
    border: none;
}


details {
    display: inline-block;
    /* Makes the <details> element inline-block */
}

.link {
    z-index: 2;
    position: absolute;
    right: +0.5em;
    top: 0;
}

.extra_pad_link {
    z-index: 2;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
}

.site-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* Main content wrapper with 80% width */
    max-width: 1200px;
    /* Optional: limit maximum width for large screens */
}

.padded-content-index {
    padding-left: 20px;
}

/* Page wrapper using flex layout */
.page-wrapper {
    display: flex;
    background-color: #f9f9ff;
    border-radius: 5px;
    margin: 2em 0 1em 0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 90vh;
}

.sidebar {
    width: 240px;
    /* background-color: #f9f9ff; */
    border-right: 1px solid #ccc;
    padding: 15px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow to sidebar */
}


.main-content-no-padding {
    flex: 1;
    /* background-color: #ffffff; */
    /* font-family: Verdana, sans-serif; */
}

.main-content {
    flex: 1;
    /* background-color: #ffffff; */
    padding: 0 20px 20px 20px;
    /* font-family: Verdana, sans-serif; */
}

/* Header Styles */
h1 {
    color: #002244;
    border-bottom: 2px solid #ccc;
    margin-top: 0;
    font-size: 1.75em;
    font-weight: 600;
}

h2 {
    color: #003366;
    border-bottom: 2px solid #bbb;
    margin-top: 0.75em;
    font-size: 1.5em;
    font-weight: 700;
    /* Thick/bold */
}

/* Header Styles */
h3 {
    color: #003366;
    border-bottom: 2px solid #ccc;
    margin-top: 0;
}

/* Subheading */
.subheading {
    background-color: #003366;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Tooltip Styles */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    width: 1em;
    height: 1em;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.1s;
    font-size: 12px;
}

.tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Links */
a {
    color: #0000cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
}

.disabled-anchor {
    pointer-events: none;
    color: #999;
    text-decoration: none;
}

/* Content Area Layout */
.container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* Allows wrapping of content in small screens */
}

.peeking-tux {
    height: 100px;
    width: 128px;
    position: relative;
    left: 0;
    top: 75.5px;
}

.deprecated {
    border: 2px solid #FFD700;
    border-radius: 2px;
    /* Gold color for the frame */
    padding: 10px;
    margin: 10px 0;
    background-color: #FFFACD;
    /* Light yellow background */
    position: relative;
}

.screenshot {
    width: 100%;
    max-width: 200px;
    flex: 0 0 250px;
    border: 1px solid #999;
    padding: 4px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow */
}

.rick-and-morty {
    width: 95px;
    height: 0;
    position: relative;
    left: calc(100% - 25px - 10px);
    top: -5px;
    animation: hoverAnimation 2s infinite;
}

/* Animation: UFO moves up and down */
@keyframes hoverAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Move up */
    }

    100% {
        transform: translateY(0);
        /* Move down */
    }
}

.peeking-tux {
    width: 0;
    height: 0;
    margin-top: 2em;
    position: relative;
    right: calc(100% - 50px - 10px);
    top: calc(-100px + 21.57px);
}

.chibi {
    width: 100px;
    height: 0;
    position: relative;
    left: calc(100% - 50px - 10px);
    bottom: 50px;
}

.chibi_img {
    transform: rotate(12deg);
    /* animation: buzzOutAnimation 1s ease-in-out infinite; */
}

/* Keyframes for Buzz Out effect */
@keyframes buzzOutAnimation {
    0% {
        transform: scale(1);
        /* Start at normal size */
    }

    25% {
        transform: scale(1.025) rotate(-2deg);
        /* Slightly grow and rotate */
    }

    50% {
        transform: scale(1) rotate(2deg);
        /* Back to normal size with slight rotation */
    }

    75% {
        transform: scale(1.04) rotate(-2deg);
        /* Slightly grow again and rotate */
    }

    100% {
        transform: scale(1);
        /* Back to normal size */
    }
}

.sitemap-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2em;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sitemap-content"
        "sitemap-footer";
    height: 100%;
}

.sitemap-content {
    grid-area: sitemap-content;
}

.sitemap-footer {
    text-align: right;
    grid-area: sitemap-footer;
}

.item-name {
    max-width: 200px;
    flex: 0 0 250px;
    padding: 4px;
}

.content {
    flex: 1;
}

/* Grid Layout for Description and Updates */
.desc-updates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-right: 0.5em;
    padding: 15px;
    grid-template-areas: "description updates";
}

.updates {
    grid-area: updates;
}

.updates_box {
    background-color: #f9f9ff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow */
}

.pin_box {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow */
}

.pin_box>h5 {
    background-color: #f9f9ff;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 10px;
}

.pins {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 equal columns */
    gap: 1rem;
    /* spacing between items */
    padding: 10px;
}

.description {
    grid-area: description;
}

/* Small tweaks */
hr {
    border: none;
    border-top: 1px solid #aaa;
    margin: 10px 0;
}

pre.navigation {
    color: #ccc;
    white-space: pre-wrap;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* Profile Container */
.profile-container {
    position: relative;
    /* Make the container the reference point for absolute positioning */
    display: inline-block;
    /* Align images next to each other */
}

/* Profile Image Styles */
img.profile {
    border: 0.5em solid #ffffff;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Use transform instead of rotate to apply the rotation */
}

img.profile_rotate {
    transform: rotate(-6deg);
}

/* Pin Image Styles */
img.profile_pin {
    position: absolute;
    /* Position relative to the parent container */
    top: -12px;
    /* Adjust the distance from the top of the profile image */
    left: 30px;
    /* Adjust the distance from the left side of the profile image */
    width: 40px;
    height: 40px;
    z-index: 1;
    /* Make sure the pin is on top of the profile image */
}

img.name_img {
    position: absolute;
    /* Position relative to the parent container */
    bottom: 12px;
    /* Adjust the distance from the top of the profile image */
    /* Adjust the distance from the left side of the profile image */
    width: 104px;
    height: 40px;
    /* 1.5em */
    z-index: 1;
    /* Make sure the pin is on top of the profile image */
}


table img {
    vertical-align: middle;
}

/* midi files */

/* Icon styles */
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

/* MIDI Icon style */
.midi-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/55/P_music.png');
}

/* MusE Icon style */
.muse-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/88/P_music.gif');
}

/* modal */
/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
}

.modal img {
    display: block;
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}